<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="BaseUrl" value="https://portal.azure.com/" />
		<add key="MicrosoftEmail" value="ENTER_AZURE_USERNAME" />
		<add key="MicrosoftPassword" value="ENTER_AZURE_PASSWORD" />
		<add key="ConString" value="ENTER_CONNECTION_STRING" />
		<add key="QName" value="ENTER_QUEUE_NAME" />
		<add key="ResourceName" value="ENTER_RESURCE_NAME" />
	</appSettings>
</configuration>
